$aqua:#72c8ae;
$green:#97b664;
$brown:#7a5841;
$orange:#f3754f;

@media(max-width:960px) {

	h2 {
		padding:10px 10px;
		font-size:26px;
		font-weight:300;
	}

	h4 {
		font-size:26px;
		font-weight:300;
	}

	h5 {
		font-size:26px;
	}

	p {
		font-size:14px;
		margin:10px 0px;
	}

	header {
		padding:10px 0px;
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		z-index:9999;
		background-color:white;
		text-align:right;

		.logo {
			max-height:40px;
		}

		nav {
			display:none;
		}

		.mobile-nav {
			display:block;
			float:right;
			margin-top:10px;
		}
	}

	main {
		margin-top:80px;
	}

	#signup {
		background-size:100%;
		background-position:center bottom;
		padding-bottom:255px;

		h1 {
			font-weight:300;
			text-align:center;
			font-size:24px;
			padding-bottom:20px;
			strong {
				font-weight:500;
			}
		}

		h2 {
			text-align:left;
			font-weight:300;
		}

		form {
			.credit-badge {
				top:-20px;
				right:0px;
				left:auto;
				width:50px;
			}
		}

		.steps {
			margin:0px;
			padding-top:25px;
		}

	}

	#jumbotron {
		.btn {
			font-size:18px;
		}
	}

	#join {
		padding-top:25px;
		padding-bottom:55px;

		.benefit {
			margin:55px 0px;
			padding:35px 55px;

			p {font-size:20px;}

			img {
				margin-top:-100px;
			}
		}
	}

	#steps {
		h3 {
			font-size:24px;
			font-weight:300;
		}
		.arrow-horizontal {
			display:none;
		}
		.arrow-vertical {
			display:inline-block;
			clear:both;
			margin-bottom:45px;
		}
	}

	#content {
		max-height:100%;
		h2 {
			padding-top:25px;
		}
	}

	#testimonials {
		
		#testimonial-bank {
			max-width:100%;
			padding-bottom:140px;
		}

		.slick-prev,.slick-next {
			width:120px;
			top:90%;
		}

		.slick-prev {
			left:40px;
		}
		.slick-next {
			right:40px;
		}

	}

	#benefits {
		background-position:center top -12px;
		padding-top:75px;

		.box {
			min-height:auto;
			padding:20px 15px;
			&:first-of-type {
				border-right:1px dashed $green;
				border-bottom:0px;
				max-width:90%;
				display:inline-block;
			}
			&:last-of-type {
				border-left:1px dashed $green;
				border-top:0px;
				max-width:90%;
				display:inline-block;
			}

			.btn {
				max-width:100%;
				padding:10px;
			}
		}

		.row {
			padding:0px 10px;
		}
	}

	#bottom-signup {
		background-size:100%;
		padding-top:45px;

		h2 {
			font-weight:300;
			padding:15px 0px;
		}

		h6 {
			font-size:26px;
			padding:0px;
			padding-bottom:85px;
			text-align:center;
			strong {
				font-weight:500;
			}
		}

		.banner {
			max-width:100%;
			top:-80px;
			bottom:auto;
			left:0px;
		}
	}

	#shipping {
		header {text-align:center; position:relative;}
		.steps {
			padding-top:25px;
			padding-bottom:10px;
		}
		main {
			margin-top:10px;
		}
		#shipping-form {
			p {
				text-align:center;
				.alignleft {
					float:none;
					display:inline-block;
					margin:10px 0px;
				}
				.clearfix {
					display:block;
					padding:0px;
				}
			}
		}
	}
	
}